.pokemon-details__loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pokemon-details__loading-message {
    font-size: 96px;
    width: fit-content;
}
